{% extends 'base.html' %}

{% block title %}Authentication{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block body %}
<div class="container {{ rap }}" id="container">
    <div class="form-container sign-up-container">
        <form action="/auth/register" method="post">
            <h1>Create Account</h1>
            {% if signup %}
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            {% endif %}
            <input name="username" type="text" placeholder="Username" />
            <input name="first_name" type="text" placeholder="First Name" />
            <input name="middle_name" type="text" placeholder="Middle Name" />
            <div class="cb">
                <input id="cb" name="no_middle_name" type="checkbox" />
                <label for="cb">No Legal Middle Name</label>
            </div>
            <input name="last_name" type="text" placeholder="Last Name" />
            <input name="email" type="email" placeholder="Email" />
            <input name="password" type="password" placeholder="Password" />
            <input name="confirm_password" type="password"
                placeholder="Confirm Password" />
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="/auth/login" method="post">
            <h1>Sign in</h1>
            {% if login %}
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            {% endif %}
            <input name="username" type="text" placeholder="Username" />
            <input name="password" type="password" placeholder="Password" />
            <!-- <a href="#">Forgot your password?</a> -->
            <button type="submit">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal
                    info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/auth.js') }}">
        document.querySelector("form[action='/auth/register']").addEventListener("submit", function (event) {
        let fullName = document.querySelector("input[name='first_name']").value.trim();
        let email = document.querySelector("input[name='email']").value.trim();
        let password = document.querySelector("input[name='password']").value.trim();

        if (!fullName) {
            alert("Error! Full Name field cannot be empty.");
            event.preventDefault();
        } else if (!email) {
            alert("Error! Email field cannot be empty.");
            event.preventDefault();
        } else if (!password) {
            alert("Error! Password field cannot be empty.");
            event.preventDefault();
        }
    });
</script>
{% endblock %}
