{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="wrapper">
    <form method="post">
        <h1>{% block title %}Login{% endblock %}</h1>

        {% for message in get_flashed_messages() %}
        <div class="flash"><p>{{ message }}</p></div>
        {% endfor %}

        <div class="input-box">
            <input type="text" name="username" placeholder="Username">
            <i class='bx bxs-user'></i>
        </div>

        <div class="input-box">
            <input type="password" name="password" placeholder="Password">
            <i class='bx bxs-lock-alt'></i>
        </div>

        <button type="submit" class="btn">Login</button>

        <div class="register-link">
            <p>Don't have an account? <a
                    href="{{ url_for('auth.register') }}">Register</a></p>
        </div>
    </form>
</div>
{% endblock %}