{% extends 'dashboard/dashboard.html' %}

{% block title %}Home{% endblock %}

{% block main %}
<main>
    <section class="bills">
        <div class="head">
            <h2>Upcoming Bills</h2>
        </div>
        <ul>
            {% for bill in bills %}
            <li>
                <div>
                    <h4>{{ bill['bill_name'] }}</h4>
                    <time>{{ bill['due_date'] }}</time>
                    <output>₱ {{ bill['amount'] }}</output>
                    <a
                        href="{{ url_for('dashboard.update_bill', id=bill['id']) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-edit"><path
                                d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path
                                d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                    </a>
                    <a
                        href="{{ url_for('dashboard.delete_bill', id=bill['id']) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-delete"><path
                                d="M21 4H8l-7 8 7 8h13a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"></path><line
                                x1="18" y1="9" x2="12" y2="15"></line><line
                                x1="12"
                                y1="9" x2="18" y2="15"></line></svg>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    <form action="/add_bill" , method="post">
        <div class="login-box">
            <h2>Add Bill</h2>
            <div class="user-box">
                <select name="account_id">
                    {% for account in accounts %}
                    <option value="{{ account['id'] }}">{{
                        account['account_name']
                        }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="user-box">
                <input name="category_name" type="text"
                    placeholder="Category Name">
            </div>
            <div class="user-box">
                <input name="bill_name" type="text" placeholder="Bill Name">
            </div>
            <div class="user-box">
                <input name="amount" type="number" placeholder="Amount">
            </div>
            <label for="due_date">Due Date</label>
            <div class="user-box">
                <input name="due_date" type="date">
            </div>
            <div class="user-box">
                <select name="is_paid">
                    <option value="-1">Select an Option</option>
                    <option value="0">Unpaid</option>
                    <option value="1">Paid</option>
                </select>
            </div>
            <button type="submit">Submit</button>
        </div>
    </form>
</main>
{% endblock %}