{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet"
    href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
<div class="board">
    <nav class="nav">
        <a href="{{ url_for('dashboard.index') }}">
            <button
                arial-label="dashboard" data-active>
                <svg id="icon-dashboard" viewBox="0 0 24 24">
                    <path
                        d="M12.984 3h8.016v6h-8.016v-6zM12.984 21v-9.984h8.016v9.984h-8.016zM3 21v-6h8.016v6h-8.016zM3 12.984v-9.984h8.016v9.984h-8.016z"></path>
                </svg>
            </button>
        </a>
        <a href="{{ url_for('dashboard.budgets') }}">
            <button arial-label="analytics">
                <svg id="icon-pie_chart" viewBox="0 0 24 24">
                    <path
                        d="M13.031 13.031h8.953q-0.328 3.563-2.859 6.094t-6.094 2.859v-8.953zM13.031 2.016q3.563 0.328 6.094 2.859t2.859 6.094h-8.953v-8.953zM11.016 2.016v19.969q-3.797-0.375-6.398-3.234t-2.602-6.75 2.602-6.75 6.398-3.234z"></path>
                </svg>
            </button>
        </a>
    </nav>
    <header>
        <div class="logo">
            <h1>BCO<span>Group</span></h1>
        </div>
        <div class="account">
            <a href="{{ url_for('dashboard.update_profile', id=g.user['id']) }}">
                <h4>{{ name['last_name'] }}, {{ name['first_name'] }}</h4>
            </a>
            <a href="#" onclick="confirmLogout(event)">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                    viewBox="0 0 24 24" fill="none" stroke="#5c73b0"
                    stroke-width="3" stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-log-out">
                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                    <polyline points="16 17 21 12 16 7"></polyline>
                    <line x1="21" y1="12" x2="9" y2="12"></line>
                </svg>
            </a>
        </div>
        <script>
            function confirmLogout(event) {
                event.preventDefault(); // Prevent immediate navigation
        
                let confirmAction = confirm("Are you sure you want to log out?");
                if (confirmAction) {
                    window.location.href = "{{ url_for('auth.logout') }}";
                }
            }
        </script>
    </header>
    {% block main %}
    {% endblock %}
</div>
{% endblock %}
