{% extends 'dashboard/dashboard.html' %}

{% block title %}Home{% endblock %}

{% block main %}
<main>
    <div class="left">
        <section class="budgets">
            <div class="head">
                <h2>Budgets</h2>
            </div>
            <ul>
                <li>
                    <span>Category</span>
                    <span>Start Date</span>
                    <span>End Date</span>
                    <span>Budget Limit</span>
                    <span>Actions</span>
                </li>
                {% for budget in budgets %}
                <li>
                    <div>
                        <span>{{ budget['category_name'] }}</span>
                        <span>{{ budget['start_date'] }}</span>
                        <span>{{ budget['end_date'] }}</span>
                        <span>₱ {{ budget['budget_limit'] }}</span>
                        <a
                            href="{{ url_for('dashboard.update_budget', id=budget['id']) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-edit"><path
                                    d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path
                                    d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                        </a>
                        <a
                            href="{{ url_for('dashboard.delete_budget', id=budget['id']) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-delete"><path
                                    d="M21 4H8l-7 8 7 8h13a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"></path><line
                                    x1="18" y1="9" x2="12" y2="15"></line><line
                                    x1="12"
                                    y1="9" x2="18" y2="15"></line></svg>
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </section>
        <section class="budgets">
            <div class="head">
                <h2>Budget Overview</h2>
            </div>
            <ul>
                <li>
                    <span>Category</span>
                    <span>Budget Limit</span>
                    <span>Spent</span>
                </li>
                {% for i in list %}
                <li>
                    <span>{{ i[0] }}</span>
                    <span>₱ {{ i[2] }}</span>
                    <span>₱ {{ i[1] }}</span>
                    <p>{{ i[3] }}</p>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>
    <form action="{{ url_for('dashboard.update_budget', id=budget['id']) }}" , method="post">
        <div class="login-box">
            <h2>Update Budget</h2>
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            <div class="user-box">
                <input name="category_name" type="text"
                    value="{{ budget['category_name'] or request.form['category_name'] }}">
            </div>
            <div class="user-box">
                <input name="budget_limit" type="number"
                value="{{ budget['budget_limit'] or request.form['budget_limit'] }}">
            </div>
            <label for="start_date">Start Date</label>
            <div class="user-box">
                <input name="start_date" type="date">
            </div>
            <label for="end_date">End Date</label>
            <div class="user-box">
                <input name="end_date" type="date">
            </div>
            <button type="submit">Submit</button>
        </div>
    </form>
</main>
{% endblock %}